<div class="color-palette-container ">
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" role="img" class="icon color-palette-icon">
<path fill-rule="evenodd" clip-rule="evenodd" d="M22 11C22 17.05 17.05 22 11 22C4.95 22 0 17.05 0 11C0 4.95 4.95 0 11 0C17.05 0 22 4.95 22 11ZM11 19C15.411 19 19 15.411 19 11C19 6.589 15.411 3 11 3V19Z" fill="#3D3D4E"></path>
</svg>


  <div class="color-chips-container">
    
<ul class="color-chips group">
    <li class="color">
      <a style="background-color: #D5E8DB" title="#D5E8DB" href="/shots?color=D5E8DB">#D5E8DB</a>
    </li>
    <li class="color">
      <a style="background-color: #ADE2CF" title="#ADE2CF" href="/shots?color=ADE2CF">#ADE2CF</a>
    </li>
    <li class="color">
      <a style="background-color: #DCB5A8" title="#DCB5A8" href="/shots?color=DCB5A8">#DCB5A8</a>
    </li>
    <li class="color">
      <a style="background-color: #61B3C3" title="#61B3C3" href="/shots?color=61B3C3">#61B3C3</a>
    </li>
    <li class="color">
      <a style="background-color: #0B0F26" title="#0B0F26" href="/shots?color=0B0F26">#0B0F26</a>
    </li>
    <li class="color">
      <a style="background-color: #7C6DAF" title="#7C6DAF" href="/shots?color=7C6DAF">#7C6DAF</a>
    </li>
    <li class="color">
      <a style="background-color: #D5463C" title="#D5463C" href="/shots?color=D5463C">#D5463C</a>
    </li>
</ul>


    <a class="download-color-palette-button" rel="tipsy nofollow" href="/shots/14670718-Recipes-Apps-and-Illustration/colors.aco" original-title="Download palette (.aco)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" role="img" class="icon fill-current">
<path d="M21 17V18.6002C20.9998 19.2366 20.7524 19.8469 20.3122 20.2969C19.8721 20.7469 19.2751 20.9998 18.6526 21H5.34736C4.7248 21 4.12774 20.7472 3.68753 20.2971C3.24731 19.847 3 19.2366 3 18.6002V17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M12 17V3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M18 11L12 17L6 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

      <span class="accessibility-text">Download color palette</span>
</a>    </div>
</div>

<div class="color-palette-container ">
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" role="img" class="icon color-palette-icon">
<path fill-rule="evenodd" clip-rule="evenodd" d="M22 11C22 17.05 17.05 22 11 22C4.95 22 0 17.05 0 11C0 4.95 4.95 0 11 0C17.05 0 22 4.95 22 11ZM11 19C15.411 19 19 15.411 19 11C19 6.589 15.411 3 11 3V19Z" fill="#3D3D4E"></path>
</svg>


  <div class="color-chips-container">
    
<ul class="color-chips group">
    <li class="color">
      <a style="background-color: #D48E98" title="#D48E98" href="/shots?color=D48E98">#D48E98</a>
    </li>
    <li class="color">
      <a style="background-color: #F2EFF5" title="#F2EFF5" href="/shots?color=F2EFF5">#F2EFF5</a>
    </li>
    <li class="color">
      <a style="background-color: #313934" title="#313934" href="/shots?color=313934">#313934</a>
    </li>
    <li class="color">
      <a style="background-color: #C52A2B" title="#C52A2B" href="/shots?color=C52A2B">#C52A2B</a>
    </li>
    <li class="color">
      <a style="background-color: #D37588" title="#D37588" href="/shots?color=D37588">#D37588</a>
    </li>
    <li class="color">
      <a style="background-color: #B3B4AB" title="#B3B4AB" href="/shots?color=B3B4AB">#B3B4AB</a>
    </li>
    <li class="color">
      <a style="background-color: #588A67" title="#588A67" href="/shots?color=588A67">#588A67</a>
    </li>
    <li class="color">
      <a style="background-color: #CEB54D" title="#CEB54D" href="/shots?color=CEB54D">#CEB54D</a>
    </li>
</ul>


    <a class="download-color-palette-button" rel="tipsy nofollow" href="/shots/17501406-Cooking-App/colors.aco" original-title="Download palette (.aco)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" role="img" class="icon fill-current">
<path d="M21 17V18.6002C20.9998 19.2366 20.7524 19.8469 20.3122 20.2969C19.8721 20.7469 19.2751 20.9998 18.6526 21H5.34736C4.7248 21 4.12774 20.7472 3.68753 20.2971C3.24731 19.847 3 19.2366 3 18.6002V17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M12 17V3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M18 11L12 17L6 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

      <span class="accessibility-text">Download color palette</span>
</a>    </div>
</div>